body {
	background-color: #fdf6e3;
	margin: 0px;
}

::selection {
	background: #ff5e99;
	color: #fff;
}
::-moz-selection {
	background-color: #ff5e99;
	color: #fff;
}

h1 {
	color: #b58900;
	font-size: 56px;
	font-family: Menlo;
	text-align: center;
}

header {
    background-color: #93a1a1;
    height: 30px;
    line-height: 230%;
    font-size: 80%;
    font-family: Arial;
}

footer {
	background-color: #eee8d5;
    	height: 30px;
    	width:100%;
}

#linkedin {
    text-align: left;
    text-decoration: none;
    color: #fdf6e3;
    
    display: inline-block;
    padding-left: 10px;
    height: 30px;
    width: 60px;
    background-color: #b58900;
    float: left;
}

#linkedin:hover {
    font-weight: bold;
    font-size: 105%    
}

.button {
    text-align: left;
    text-decoration: none;
    color: #586e75;
    
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    width: 60px;
    float: left;
}

.button:hover {
    color: #fdf6e3; 
}

.cv {
    width: 30px;
    padding-left: 10px;
}

.bio {
   width: 30px;
   padding-left: 15px;
}

.contact {
    padding-left: 30px;
}

h2 {
    font-family: monospace;
    font-weight: lighter;
    color: #b58900;
    font-size: 28px;
    text-align: left;
    padding-left: 100px;
}

h3 {
    font-family: monospace;
    font-weight: normal;
    font-size: 20px;
    color: #93a1a1;
    padding-left: 50px; 
}

hr {
    margin-left: 50px;
    margin-right: 50px;
    color: #93a1a1;
    background-color: #93a1a1;
}

p {
    font-family: Arial;
    color: #93a1a1;
    font-weight: 100;
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
    line-height: 150%;
}

a {
    font-family: Arial;
    color: #b58900; 
}

.about {
}


iframe {
}
