body {
	background-color: #fdf6e3;
	margin: 0px;
}

h1 {
	color: #b58900;
	font-size: 56px;
	font-family: Menlo;
	text-align: center;
}

header {
    background-color: #93a1a1;
    height: 30px;
    line-height: 230%;
    font-size: 80%;
    font-family: Arial;
}

footer {
	background-color: #eee8d5;
    	height: 30px;
    	position:absolute;
    	bottom:0;
    	width:100%;
}

#linkedin {
    text-align: left;
    text-decoration: none;
    color: #fdf6e3;
    
    display: inine-block;
    padding-left: 10px;
    height: 30px;
    width: 60px;
    background-color: #b58900;
    float: left;
}

#linkedin:hover {
    font-weight: bold;    
}

#button {
    text-align: left;
    text-decoration: none;
    color: #586e75;
    
    display: inline-block;
    padding-left: 10px;
    height: 30px;
    width: 60px;
    float: left;
}

#button:hover {
    color: #fdf6e3;
}
